@import url('https://fonts.googleapis.com/css2?family=Petrona');
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans');


/* Default colors */
:root {
    --color-primary-link: #456789;
    --color-primary-link-hover: #89abcd;

    --color-text-default: #012345;
    --color-card-background: #F2E2D2;

    --color-background: #012345;

    /*
    --color-bg-darker: hsl(24, 22%, 53%);
    --color-bg-lighter: hsl(24, 50%, 97%);
    */
}

::selection {
    background: var(--color-primary-hover);
}

html, body {
    margin: 0 auto !important;
    padding: 0 !important;
    color:var(--color-text-default);
    font-family: 'Rethink Sans', sans-serif;
    font-size: 1rem;
}

body {
    background-color:var(--color-background);
    --grid-color: #123456;
    --grid-size: 1.5rem;
    background-image: linear-gradient(var(--grid-color) 1px, transparent 1px),
          linear-gradient(90deg, var(--grid-color) 1px, transparent 1px);
    background-size: var(--grid-size) var(--grid-size),
          var(--grid-size) var(--grid-size);
    background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

.all-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2em;
}

.full-width-right-align{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    opacity: 0.24;
}

.profile-card{
    display: flex;
    flex-direction: column;
    padding: 3rem 4rem;
    background-color: var(--color-card-background);
    border-radius: 0.125rem;
    max-width: 32em;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0,0,0, 0.24);
}

h1{
    font-family: 'Petrona', sans-serif;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: -0.05rem;
}

p{
    font-size: 1em;
    line-height: 1.35em;
}

a{
    color: var(--color-primary-link);
}

a:hover{
    color: var(--color-primary-link-hover);
}

/* Tablet view */
@media only screen and (max-width: 680px) {
    .profile-card{
        padding: 2rem 3rem;
    }

    .all-container{
        padding: 1rem;
    }
}

@media only screen and (max-width: 480px) {
    .profile-card{
        padding: 1rem 1.5rem;
    }

    .all-container{
        padding: 1rem;
    }
}